.label {
    color: white;
    padding: 0.5rem;
    box-shadow: 5px 5px 44px 10px rgba(0,0,0,0.51);
    border: 1px solid white;
    display: inline-block;
    border-radius: 10px;
    margin: 0.5rem;
}